@font-face {
    font-family: "GOSTUI2_regular";
    src: url('./GOSTUI2-w170-regular_g_temp.ttf');
}

@font-face {
    font-family: "GOSTUI2_medium";
    src: url('./GOSTUI2-w450-medium_g_temp.ttf');
}

@font-face {
    font-family: "GOSTUI2_bold";
    src: url('./GOSTUI2-w706-bold_g_temp.ttf');
}
