@media (min-width: 1199.98px) {
    .container {
        max-width: 800px;
    }
}

.container {
    padding-top: 40px;
}

.config {
    margin-bottom: 40px;
}

.heading {
    margin-bottom: 40px;
}

.form__heading {
    margin-bottom: 20px;
}

.form-check {
    margin-bottom: 20px;
}
