/* -------------------------------- 

Slider

-------------------------------- */
.cd-slider-wrapper {
  height: 370px;
  position: relative;
  width: 100%;
  margin-bottom: 130px;
}

.cd-slider {
  height: 370px;
  padding-left: 0.01px;
  padding-right: 0.01px;
}

.cd-slider > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 370px;
  opacity: 0;
  overflow: hidden;
}
.cd-slider > li.visible {
  position: relative;
  z-index: 1;
  opacity: 1;
}
.cd-slider > li.is-animating {
  z-index: 2;
  opacity: 1;
}

.cd-slider .cd-svg-wrapper {
  height: 370px;
  padding-bottom: 0;
}

.cd-slider-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* -------------------------------- 

Slider dots/controls 

-------------------------------- */
.cd-slider-controls {
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.cd-slider-controls a {
  display: block;
  height: 100px;
  width: 100px;
}
.cd-slider-controls li {
  transition: box-shadow 0.2s ease;
}
.cd-slider-controls li:hover {
  box-shadow: 0 0 16.92px 4px rgba(0, 142, 232, 0.26);
}
@media(max-width: 767px) {
  .cd-slider-wrapper {
    margin-top: -72px
  }
}
